# üß≠ –ê–Ω–∞–ª–∏–∑ —Ç–µ–∫—É—â–µ–≥–æ —É—Ä–æ–≤–Ω—è –ø–æ—Ç—Ä–µ–±–∏—Ç–µ–ª—å—Å–∫–æ–π –ª–æ—è–ª—å–Ω–æ—Å—Ç–∏ –ø–æ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–∞–º NPS-–æ–ø—Ä–æ—Å–æ–≤

–ò—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏–µ –ø—Ä–æ–≤–æ–¥–∏–ª–æ—Å—å –¥–ª—è –∫—Ä—É–ø–Ω–æ–π —Ç–µ–ª–µ–∫–æ–º–º—É–Ω–∏–∫–∞—Ü–∏–æ–Ω–Ω–æ–π –∫–æ–º–ø–∞–Ω–∏–∏, —Ä–∞–±–æ—Ç–∞—é—â–µ–π –Ω–∞ —Ç–µ—Ä—Ä–∏—Ç–æ—Ä–∏–∏ –°–ù–ì.  
**–¶–µ–ª—å** ‚Äî –æ–ø—Ä–µ–¥–µ–ª–∏—Ç—å —É—Ä–æ–≤–µ–Ω—å –ª–æ—è–ª—å–Ω–æ—Å—Ç–∏ (NPS) —Å—Ä–µ–¥–∏ –∫–ª–∏–µ–Ω—Ç–æ–≤ –∏–∑ –†–æ—Å—Å–∏–∏ –∏ –ø–æ—Å—Ç—Ä–æ–∏—Ç—å –¥–∞—à–±–æ—Ä–¥, –Ω–∞ –æ—Å–Ω–æ–≤–µ –∫–æ—Ç–æ—Ä–æ–≥–æ –º–æ–∂–Ω–æ –∞–Ω–∞–ª–∏–∑–∏—Ä–æ–≤–∞—Ç—å –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–æ–µ –ø–æ–≤–µ–¥–µ–Ω–∏–µ –∏ –≤—ã–¥–µ–ª—è—Ç—å –Ω–∞–∏–±–æ–ª–µ–µ –ª–æ—è–ª—å–Ω—ã–µ –≥—Ä—É–ø–ø—ã.

---

### üìä –°—Å—ã–ª–∫–∞ –Ω–∞ –¥–∞—à–±–æ—Ä–¥ –≤ Tableau:  
[https://public.tableau.com/app/profile/liliy4269/viz/project2_16743192457890/Dashboard1](https://public.tableau.com/app/profile/liliy4269/viz/project2_16743192457890/Dashboard1)

### üìÑ –ü—Ä–µ–∑–µ–Ω—Ç–∞—Ü–∏—è (PDF):  
[–°–∫–∞—á–∞—Ç—å –ø—Ä–µ–∑–µ–Ω—Ç–∞—Ü–∏—é](https://disk.yandex.ru/i/67v8XvoJ4XLngQ)

In [ ]:
import pandas as pd
import numpy as np

from sqlalchemy import create_engine

<div class="alert alert-info">–ü–æ–¥–∫–ª—é—á–∞–µ–º—Å—è –∫ –±–∞–∑–µ –¥–∞–Ω–Ω—ã—Ö

In [ ]:
path_to_db = '/datasets/telecomm_csi.db'
engine = create_engine(f'sqlite:///{path_to_db}', echo = False)

<div class="alert alert-info">–°–æ—Ö—Ä–∞–Ω—è–µ–º –¥–∞–Ω–Ω—ã–µ –≤ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º. –£—á—Ç–µ–º —Å—Ä–∞–∑—É –Ω–∞–ª–∏—á–∏–µ –ø—Ä–æ–ø—É—Å–∫–æ–≤ –≤ age age_segment, —É–¥–∞–ª–∏–º —ç—Ç–∏ —Å—Ç—Ä–æ–∫–∏, —Ç–∞–∫ –∞–∫–∫ –∏—Ö –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –Ω–µ –±–æ–ª—å—à–æ–µ –∏ –∑–Ω–∞—á–∏—Ç–µ–ª—å–Ω–æ–≥–æ –≤–ª–∏—è–Ω–∏–µ –Ω–µ –æ–∫–∞–∂–µ—Ç

In [ ]:
#query = """
#SELECT * FROM location;
#"""

In [ ]:
query = """
SELECT u.user_id,
       u.lt_day,
       CASE
           WHEN u.lt_day <= 365 THEN '–Ω–æ–≤—ã–π'
           WHEN u.lt_day > 365 THEN '—Å—Ç–∞—Ä—ã–π'
       END AS is_new,
       age,
       CASE
           WHEN u.gender_segment == 0 THEN '–º—É–∂—á–∏–Ω–∞'
           WHEN u.gender_segment == 1 THEN '–∂–µ–Ω—â–∏–Ω–∞'
       END AS gender_segment,
       u.os_name,
       u.cpe_type_name,
       l.country,
       l.city,
       SUBSTR(a_s.title, 4, 8) AS age_segment,
       SUBSTR(t_s.title, 4, 8) AS traffic_segment,
       SUBSTR(l_s.title, 4, 8) AS lifetime_segment,
       u.nps_score,
       CASE
           WHEN u.nps_score >= 9 THEN '—Å—Ç–æ—Ä–æ–Ω–Ω–∏–∫–∏'
           WHEN u.nps_score == 7 OR nps_score ==8 THEN '–Ω–µ–π—Ç—Ä–∞–ª—ã'
           WHEN u.nps_score < 7 THEN '–∫—Ä–∏—Ç–∏–∫–∏'
       END AS nps_group
FROM user AS u
LEFT JOIN location AS l ON u.location_id=l.location_id
LEFT JOIN age_segment AS a_s ON u.age_gr_id=a_s.age_gr_id
LEFT JOIN traffic_segment AS t_s ON u.tr_gr_id=t_s.tr_gr_id
LEFT JOIN lifetime_segment AS l_s ON u.lt_gr_id=l_s.lt_gr_id
WHERE age IS NOT NULL AND gender_segment IS NOT NULL;
"""

In [ ]:
df = pd.read_sql(query, engine)
df.head(10)

,user_id,lt_day,is_new,age,gender_segment,os_name,cpe_type_name,country,city,age_segment,traffic_segment,lifetime_segment,nps_score,nps_group
0,A001A2,2320,—Å—Ç–∞—Ä—ã–π,45.0,–∂–µ–Ω—â–∏–Ω–∞,ANDROID,SMARTPHONE,–†–æ—Å—Å–∏—è,–£—Ñ–∞,45-54,1-5,36+,10,—Å—Ç–æ—Ä–æ–Ω–Ω–∏–∫–∏
1,A001WF,2344,—Å—Ç–∞—Ä—ã–π,53.0,–º—É–∂—á–∏–Ω–∞,ANDROID,SMARTPHONE,–†–æ—Å—Å–∏—è,–ö–∏—Ä–æ–≤,45-54,1-5,36+,10,—Å—Ç–æ—Ä–æ–Ω–Ω–∏–∫–∏
2,A003Q7,467,—Å—Ç–∞—Ä—ã–π,57.0,–º—É–∂—á–∏–Ω–∞,ANDROID,SMARTPHONE,–†–æ—Å—Å–∏—è,–ú–æ—Å–∫–≤–∞,55-64,20-25,13-24,10,—Å—Ç–æ—Ä–æ–Ω–Ω–∏–∫–∏
3,A004TB,4190,—Å—Ç–∞—Ä—ã–π,44.0,–∂–µ–Ω—â–∏–Ω–∞,IOS,SMARTPHONE,–†–æ—Å—Å–∏—è,–†–æ—Å—Ç–æ–≤–Ω–∞–î–æ–Ω—É,35-44,0.1-1,36+,10,—Å—Ç–æ—Ä–æ–Ω–Ω–∏–∫–∏
4,A004XT,1163,—Å—Ç–∞—Ä—ã–π,24.0,–º—É–∂—á–∏–Ω–∞,ANDROID,SMARTPHONE,–†–æ—Å—Å–∏—è,–†—è–∑–∞–Ω—å,16-24,5-10,36+,10,—Å—Ç–æ—Ä–æ–Ω–Ω–∏–∫–∏
5,A005O0,5501,—Å—Ç–∞—Ä—ã–π,42.0,–∂–µ–Ω—â–∏–Ω–∞,ANDROID,SMARTPHONE,–†–æ—Å—Å–∏—è,–û–º—Å–∫,35-44,5-10,36+,6,–∫—Ä–∏—Ç–∏–∫–∏
6,A0061R,1236,—Å—Ç–∞—Ä—ã–π,45.0,–º—É–∂—á–∏–Ω–∞,ANDROID,SMARTPHONE,–†–æ—Å—Å–∏—è,–£—Ñ–∞,45-54,10-15,36+,10,—Å—Ç–æ—Ä–æ–Ω–Ω–∏–∫–∏
7,A009KS,313,–Ω–æ–≤—ã–π,35.0,–º—É–∂—á–∏–Ω–∞,ANDROID,SMARTPHONE,–†–æ—Å—Å–∏—è,–ú–æ—Å–∫–≤–∞,35-44,45-50,7-12,10,—Å—Ç–æ—Ä–æ–Ω–Ω–∏–∫–∏
8,A00AES,3238,—Å—Ç–∞—Ä—ã–π,36.0,–∂–µ–Ω—â–∏–Ω–∞,ANDROID,SMARTPHONE,–†–æ—Å—Å–∏—è,–°–∞–Ω–∫—Ç–ü–µ—Ç–µ—Ä–±—É—Ä–≥,35-44,1-5,36+,10,—Å—Ç–æ—Ä–æ–Ω–Ω–∏–∫–∏
9,A00F70,4479,—Å—Ç–∞—Ä—ã–π,54.0,–∂–µ–Ω—â–∏–Ω–∞,ANDROID,SMARTPHONE,–†–æ—Å—Å–∏—è,–í–æ–ª–≥–æ–≥—Ä–∞–¥,45-54,15-20,36+,9,—Å—Ç–æ—Ä–æ–Ω–Ω–∏–∫–∏

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 501152 entries, 0 to 501151
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   user_id           501152 non-null  object
 1   lt_day            501152 non-null  int64
 2   is_new            501152 non-null  object
 3   age               501152 non-null  float64
 4   gender_segment    501152 non-null  object
 5   os_name           501152 non-null  object
 6   cpe_type_name     501152 non-null  object
 7   country           501152 non-null  object
 8   city              501152 non-null  object
 9   age_segment       501152 non-null  object
 10  traffic_segment   501152 non-null  object
 11  lifetime_segment  501152 non-null  object
 12  nps_score         501152 non-null  int64
 13  nps_group         501152 non-null  object
dtypes: float64(1), int64(2), object(11)
memory usage: 53.5+ MB

In [ ]:
df.to_csv('telecomm_csi_tableau.csv', index=False)